#main{
    background-color: #eee;
}

#header{
    text-align: center;
}
.caption{
    text-align: center;
}

#img-div{
    background-color: white;
}

#image{
    margin-left: 300px;
}
.img-caption{
    text-align: center;
}